/* Global Styles */
body {
  background-color: #000100;
  font-family: Varela Round;
  font-weight: 900;

  overflow: hidden;
  animation: blur 0.5s ease-out;
}

* {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Elements Styles */
img {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.fileupload {
  margin-top: -28px;
  width: 18%;
  float: right;
  color: transparent;
}

.shutdown_container {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.shutdown_message {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}

.notice_message {
  font-size: 18px;
  color: #333333;
}

#users_content_container {
  font-family: Varela Round;
  background-color: #111211;
  border-radius: 5%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#themeButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url(themebutton.png);
  background-size: cover;
}

#title_container {
  width: 100%;
  height: 225px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111211;
  border-bottom: 5px solid #000100;
  box-shadow: 0 0 30px -18px #431723;
}

#title_inner_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25111a80;
  border-radius: 200px;
}

#title {
  display: inline-block;
  color: #928e80;
  font-size: 55px;
  letter-spacing: 2px;
  user-select: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#join_container {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  margin-top: 80px;
}

#join_inner_container {
  width: 50%;
  height: 100%;
}

#join_input_container {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
}

#join_input {
  width: 60%;
  height: 40px;

  color: #928e80;
  font-family: Varela Round;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: Transparent;
  border-bottom: 2px dashed #928e80;
}

#join_input:focus {
  box-shadow: 0 10px 30px -17px #928e80;
}

#join_button_container {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
}

#join_button {
  width: 60%;
  height: 40px;

  font-family: Varela Round;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #000100;
}

#chat_container {
  width: 100%;
  height: 450px;

  display: flex;
  justify-content: center;

  float: left;
  margin-top: 40px;

  /* Fade in the container */
  animation: fadeIn 1s linear;
}

#chat_inner_container {
  width: 40%;
  height: 100%;
}

#chat_content_container {
  width: 100%;
  height: 90%;

  border: 1px dashed #928e802a;

  float: left;
  overflow-y: auto;
  font-family: Varela Round;

  padding-left: 15px;
  padding-right: 15px;
}

#chat_input_container {
  width: 100%;
  height: 10%;

  float: left;
  border-bottom: 2px dashed #928e80;
  border-left: 1px dashed #928e802a;
  border-right: 1px dashed #928e802a;
  background-color: Transparent;

  padding-left: 15px;
  padding-right: 15px;
  font-family: Varela Round;
  margin-top: 10px;
}

#chat_input {
  width: 95%;
  height: 100%;
  float: left;
  background-color: Transparent;
  color: #928e80;
  font-size: 15px;
}
#chat_input::placeholder{
  color: #928e80;
}
#chat_input_send {
  width: 5%;
  height: 100%;
  float: left;
  font-size: 18px;
  background-color: Transparent;
  text-align: right;
  color: #ccc;
}

#chat_input_send.enabled {
  color: #928e80;
  background-color: Transparent;
  cursor: pointer;
}

#chat_logout_container {
  width: 100%;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

#chat_logout {
  color: #928e80;
  background-color: #000100;
  cursor: pointer;
}

#chat_logout:hover {
  text-decoration: underline;
}

.message_container {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.message_inner_container {
  width: 100%;
  display: inline-block;

  color: #928e80;
}

.message_user_container {
  width: 100%;
  display: inline-block;
}

.message_user {
  font-weight: bold;
  font-size: 14px;
}

.message_user>i {
  font-size: 7px;
}

.message_content_container {
  width: 100%;
  display: inline-block;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.message_content {
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
}

.code {
  background-color: #111211;
}

.announcement {
  font-style: italic;
  font-size: 18px !important;
  padding-bottom: 25px !important;
  font-weight: bold !important;
}

.minimized {
  background-color: #111211;
  user-select: none;
  overflow: hidden;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.expanded {
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.enabled {
  transition: background-color 0.5s;
  color: #000100;
  background-color: #111211;
  cursor: pointer;
}

#title_container.chat_title_container {
  transition: 0.8s;
  transition-timing-function: ease-in-out;
  height: 100px;
}
#title.chat_title {
  transition: 0.8s;
  font-size: 47px;
}

.loader_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  border-top: 6px solid #431723;
  border-bottom: 6px solid #928e80;
  border-left: 6px solid #E9FFF9;
  border-right: 6px solid #E9FFF9;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blur {
  0% {filter: blur(5px);}
  100% {}
}

::selection {
  background-color: #111211;
  color: #000100;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #431723;
  border-radius: 5px;
}